.SliderSec {
    background: rgba(0, 0, 0, 0.8);
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
img.card.w-75.h-75.mt-3.mb-3.aos-init.aos-animate{
    box-shadow: 0 4px 8px 0 rgba(123, 122, 122, 0.957), 0 6px 20px 0 rgba(124, 124, 124, 0.961);
}
