.Body-Sec {
    margin-top: 40px;
}
@media screen and (max-width: 576px) {
    .Body-Sec.container.mt-4.position-absolute.d-flex {
        margin-left: 0;
        
    }
}
.Heading-1 {
    margin-top: 140px;
    font-size: 35px;
    margin-left: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.Heading-2 {
    margin-top: 9px;
    font-size: 20px;
    margin-left: 25px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.link-sec {
    margin-top: 20px;
}
.link-1 {
    border: 2px solid darkgoldenrod;
    border-radius: 5px;
    font-size: 17px;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-right: 6px;
    padding-left: 6px;
    margin-top: 10px;
}
.link-2 {
    border: 2px solid darkgoldenrod;
    border-radius: 5px;
    font-size: 17px;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-right: 6px;
    padding-left: 6px;
    margin-top: 10px;
}
.link-1:hover{
    background-color: darkgoldenrod;
    cursor: grab;
}
.link-2:hover{
    background-color: darkgoldenrod;
    cursor: grab;
}
a.glightbox.play-btn {
    color: darkgoldenrod;
    font-size: 50px;
    font-weight: bolder;
    position: absolute;
    margin-left: 310px;
    margin-top: 15px;
    animation-name: player;
    animation-duration: 6s;
}
@keyframes player {
    from{transform: rotate();
    font-size: 50px;
color: darkgoldenrod;}
    to{transform: rotate(360deg);
    font-size: 60px;
color:darkgray}
}
a.glightbox.play-btn:hover {
    color: darkkhaki;
}
<<<<<<< HEAD
.Body-Sec.container.position-absolute {
    margin-top: 180px;
    margin-left: 40px;
=======
.SearchBar {
    margin-left: 960px;
    margin-top: 10px;
}
.inputSec {
    background-color:darkslategray;
    border: 2px solid darkgoldenrod;
    border-radius: 5px;
}
.inputSec:focus {
    color:darkgoldenrod;
    font-style: oblique;
}
.buttonSec {
    margin-left: 3px;
    background-color: darkslategray;
    border: 2px solid darkgoldenrod;
    border-radius: 3px;
}
.buttonSec:hover{
    color: darkgoldenrod;
}
.buttonSec:active {
    color:darkslategray;
    background-color: darkgoldenrod;
>>>>>>> 4ea6a6b3cd9f0b37c21671c477f428a68fddcd98
}