.condent-sec {
    background: rgba(0, 0, 0, 0.8);
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 600px;
}
.condentHead {
    margin-top: 30px;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    margin-left: 30px;
    color: #ffffff;
}
.condentHead:hover {
    color: darkgoldenrod;
    border-bottom: 1px dashed gray;
}
.img {
    width: 400px;
    height: 50px;
}
img.imaging.card.mt-5.mb-5 {
    margin-left: 150px;
}
img.imaging.card.mt-5.mb-5:hover{
    box-shadow: 5px 10px 8px #888888;;
}
.reportSec {
    background: rgba(0, 0, 0, 0.8);
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 50px;
}
.reportSec.text-white.container {
    text-align: center;
}
.reportHead {
    font-size: 20px;
    color:white;
    border-bottom: 1px dotted whitesmoke;
}
.reportHead:hover {
    color:darkgoldenrod;
    border-bottom: 2px dashed gray;
    margin-top: 20px;
    margin-bottom: 20px;
}
.col-sm.card {
    background-color: darkgray;
    box-shadow: 5px 5px 10px 5px #ffffff;
}
.col-sm.card:hover {
    background-color: darkgoldenrod;
    color:#ffffff
}
.col-sm.card .card-header {
     font-size: 18px;
     font-weight: 400;
}