.FooterSec {
    height: 470px;
    margin-top: 60px;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 60px;
}
.right {
    margin-left: 670px;
    margin-top: 70px;
    padding-top: 10px;
}