.heading {
    position: fixed;
}

.parent-menu:nth-child(4){
    position: relative;

}
.sub-menu ul {
    position: absolute;
    display: none;
}
.heading ul li a {
    padding-left: 5px;
}
li {
    padding-left: 60px;
    font-size: 17px;
    font-style: revert;
}
.head-btn {
    margin-left: 15px;
}
.Logo {
    font-size: 24px;
    font-weight: 600;
    animation-name: logoani;
    animation-duration: 6s;
    color: darkgrey;
} 
@keyframes logoani {
    from{
        transform: rotate();
        color: white;
    }
    to{
        transform: rotate(360deg);
        color: darkgoldenrod;
    }
}
.heading {
    background :rgba(0, 0, 0, 0.8);
   
}
.heading ul li a:hover
{
   color: darkgoldenrod;
}
.a:hover {
    color: darkgoldenrod;
}

.anchor {
    color: gray;
    text-decoration: none;
}
.anchor :hover {
    color: darkgoldenrod;
}
.btn .text-decoration-none .text-warning .bg-dark .mx-5:active{
    color:black;
    background-color: darkgoldenrod;

}
.heading .container-fluid .fixed-top .expand-sm .d-flex .align-items-center  .mt-3 .py-1 .mb-5{
    position: fixed;
}