button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.card.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    text-align: center;
    margin-top: 60px;
    margin-left: 550px;
    text-decoration: none;
    border: 1px solid darkgoldenrod;
    color: white;
    border-radius: 10px;
}