button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.card.btn.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    text-align: center;
    margin-top: 60px;
    margin-left: 550px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.card.btn.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
    display: inline;
    border: 2px solid darkgoldenrod;
}